name: Django-test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: install dependencies
      run: |
        python -m pip install --upgrade
        pip install -r requirements.txt
    - name: lint with flake8
      run: |
        pip install flake8
        flake8
    - name: Report with Coverage
      run: |
        pip install coverage
        coverage run manage.py test
        coverage report      
